.highlight{
    background-color: #00E5FF;
    padding: 10px;

}
.bgGold{
    background-color:#FEFFC4;
}
/* #FFAA49 */
body{
    background-color: #799EFF;
}
h1{
    text-align: center;
}
.text{
    text-align:left;
    padding: 15px;
    font-size: 18px;
}
.centerItems
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* this class creates a color panel to hold info for my about me. */
.box{
    width: 600px;
    height: 200px;
    background-color: #FEFFC4;
    padding: 10px;
}
.contactsBox{
    width: 800px;
    height: 300px;
    background-color: #00D4FF;
    padding: 20px;
    border-radius: 20px;

}
p{
    font-size: 27px;
    align-items: left;
}
img{
    height: 18rem;
}
.custom-card-color {
  background-color: #FEFFC4;
}