.highlight{
    background-color: #00E5FF;

}
.colorBottomNav{
    background-color: gold;
}
body{
    background-color: #FFAA49;
}
h1{
    text-align: center;
}
.centerItems
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 600px;
    height: 200px;
    background-color: gold;
    padding: 10px;
}
img{
    height: 18rem;
}
