.highlight{
    background-color: #00E5FF !important;
    border: none !important;
    border-width:0!important;
}
body{
    background-color: #FFAA49;
}
h1{
    text-align: center;
}
.navbar-custom-color{
    background-color: #00E5FF;
}